body { 
    background-color: #f8f9fa; 
}

.contenedor-app { 
    max-width: 500px; 
    margin: 0 auto; 
    margin-top: 20px; 
    padding: 10px; 
}

.oculto { 
    display: none !important; 
}

.saldo-box { 
    background-color: #28a745; 
    color: white; 
    padding: 15px; 
    border-radius: 8px; 
    text-align: center; 
    margin-bottom: 20px; 
}

#menuDesplegable { 
    display: none; 
}

@media (min-width: 992px) {
    #menuDesplegable { 
        display: block !important; 
    }
    .navbar-toggler { 
        display: none; 
    }
}